* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    }
    .row {
        max-width: 1140px;
        margin: 0 auto;
    }
    body {
        margin: 0;
        font-family: 'Arial', sans-serif;
        background-color: rgb(11, 55, 100);
    }
    
    .navbar {
        background-color:rgb(77, 204, 75);
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        color: rgb(79, 93, 117);
        font-size: 24px;
        font-weight: bold;
    }
    .logo:hover {
        color: white;
    }
    
    .nav-list {
        list-style: none;
        display: flex;
    }
    
    .nav-list li {
        margin-right: 20px;
    }
    
    .nav-list a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: color 0.3s ease;
    }
    
    .nav-list a:hover {
        color: rgb(79, 93, 117); 
    }
    /*********section head-1*******/
    h2 {
        text-align: center;
        text-decoration: underline;
        color: white;
        margin:25px;
    }
    h2:hover {
        color:rgb(77, 204, 75) ;
    }
    img {
        height: 250px;

    }
    a{
        /* text-decoration: none; */
        color: #fff;
    }
    .tvorime {
        text-align: center;
    }
    p {
        text-align: center; 
        color: white;
    }
    .foto1 {
        text-align: center;
    }

   
    /**********praxe****/
   .foto-cvmm {
    text-align: center;
    height: 400px;
    
   }
.foto-cvmm img{
    height: 400px
    
}
    .img-uni {
    text-align: center;
    margin: 25px;    
  }
.next1 img {
    width: 400px;
    height: 200px;
    text-align: center
}
.form-calk {
    text-align: center;
}

   

    /*******kontakt*******/
   .map1 {
    text-align: center;
   }
    
   .map2 {
    text-align: center;
   }
   .button-github1 {
    text-align: center;
   }

   /***** Contact form *****/
.contact-form {
    max-width: 700px;
    text-align: center;
}

.contact-form input {
    width: 80%;
    margin: 5px 0px;
    padding: 7px;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    
}
.info1 p{
    color: red;
}

.contact-form textarea {
    width: 80%;
    margin: 5px 0px;
    padding: 7px;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    font-family: Arial;
}

input[type="submit"] {
   background-color: rgb(239, 131, 84);
    color: black;
    font-size: 20px;
}

input[type="submit"]:hover {
    transition: background-color 0.5s;
    background-color: rgb(79, 93, 117);
    color: #fff;
}

    /***** Footer *****/
    .footer-page {
        background:rgb(79, 93, 117);
         margin-top: 30px;
         color:white;
     }
     
     .social {
         text-align: center;
         margin: 20px 0;
         padding: 10px;
         font-size: 20px;
     }
            
     .footer-text {
         text-align: center;
         margin: 10px 0;
         padding: 10px;

     }
     